<html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>{{some}}</div>
<input id="name" type="name" placeholder="Name">
<input type="button" value="Просто кнопка" onclick="javascript:window.location='greeting?name=' + document.getElementById('name').value"/>
</body>
</html>